<a href="https://colab.research.google.com/github/KendallScott/Datadisplay/blob/master/Compiled_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install geopandas

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import label_binarize, OneHotEncoder

In [67]:
import geopandas as gpd
ky_mines = gpd.read_file('/content/KY_Released_mines.geojson')
tn_mines = gpd.read_file('/content/TN_Released_mines.geojson')
va_mines = gpd.read_file('/content/VA_Released_mines.geojson')
wv_mines = gpd.read_file('/content/WV_Released_mines.geojson')

In [68]:
ky_mines

,id,ACT_INAC,Calc_Acres,Contact,DATE_ISS,FeatCLS,MINE_STATU,National_I,ORIG_PERM,PERM_ACT,PER_NAME,PER_TYPE,PermitNo,QUAD_DESC,REGION_DES,Shape_Leng,Source,Type_Flag,geometry
0,00000000000000001111,Released,294.302954,KY Division of Mine Permits,1141718400000,SF,FF,KY8640180,8640180,SU 03/07/2013 AM 1 05/12/2011 RN 1...,B & C ENERGY INC,PERMANENT,8640180,MAZIE,PRESTONSBURG,53267.493940,CHIA,TRNS,"POLYGON ((-82.96438 38.04585, -82.96352 38.045..."
1,00000000000000001112,Released,305.739886,KY Division of Mine Permits,1141718400000,SF,FF,KY8640180,8640180,SU 03/07/2013 AM 1 05/12/2011 RN 1...,B & C ENERGY INC,PERMANENT,8640180,MAZIE,PRESTONSBURG,92560.008796,KYDMP,TRNS,GEOMETRYCOLLECTION (LINESTRING (-82.95661 38.0...
2,00000000000000001f4d,Released,4.822285,KY Division of Mine Permits,374486400000,SF,FF,KY0130119,0130119,NW 11/13/1981,TENKILLER MINING SERVICES INC,INTERIM,0130119,,LONDON,1820.653854,KGS Project,INACT,"POLYGON ((-83.52908 37.35024, -83.52889 37.349..."
3,00000000000000002b96,Released,6.335894,KY Division of Mine Permits,322732800000,SF,FF,KY1005000,1005000,RV 01/13/1981 NW 03/24/1980,LAUREL RIVER COAL CO,INTERIM,1005000,ANO,LONDON,3259.238489,KGS Project,INACT,"POLYGON ((-84.37338 37.00735, -84.37334 37.007..."
4,00000000000000001d20,Released,2.864151,KY Division of Mine Permits,455871600000,SF,FF,KY9180010,9180010,NW 06/12/1984,RIDNER COAL CO INC,PERMANENT,9180010,VOX,MIDDLESBORO,1867.456008,KGS Project,INACT,"POLYGON ((-84.14509 36.91530, -84.14500 36.914..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12601,0000000000000000025a,Released,1.112072,KY Division of Mine Permits,225619200000,SF,XX,KY545876X,545876X,NW 02/24/1977,B J & C COAL SALES,PRE LAW,545876X,MILLARD,PIKEVILLE,2501.756117,KGS Project,INACT,"POLYGON ((-82.43439 37.45060, -82.43382 37.450..."
12602,00000000000000002e38,Released,4.185860,KY Division of Mine Permits,278582400000,SF,XX,KY2660005,2660005,NW 10/30/1978,FALCON COAL CO INC,INTERIM,2660005,HYDEN EAST,LONDON,1713.922701,KGS Project,INACT,"POLYGON ((-83.26042 37.14537, -83.26032 37.144..."
12603,00000000000000000472,Released,56.660359,KY Division of Mine Permits,255254400000,SF,XX,KY686977X,686977X,NW 02/02/1978,CAL GLO COAL INC,PRE LAW,686977X,BARBOURVILLE,MIDDLESBORO,16743.038634,KGS Project,INACT,"MULTIPOLYGON (((-84.00080 36.74794, -84.00077 ..."
12604,0000000000000000308a,Released,14.972560,KY Division of Mine Permits,166863600000,SF,XX,KY388574X,388574X,AM 07/14/1975 NW 04/16/1975,KY PACIFIC MINING CORP,PRE LAW,388574X,BARBOURVILLE,MIDDLESBORO,7858.160818,KGS Project,INACT,"MULTIPOLYGON (((-83.95358 36.79714, -83.95352 ..."
12605,000000000000000004fc,Released,35.631015,KY Division of Mine Permits,262598400000,SF,XX,KY710477X,710477X,NW 04/28/1978,T & T DARBY COAL CO INC,PRE LAW,710477X,PENNINGTON GAP,MIDDLESBORO,77683.903613,KGS Project,INACT,"POLYGON ((-83.05177 36.85208, -83.05165 36.852..."

In [75]:
ky_mines['state'] = 'Kentucky'
tn_mines['state'] = 'Tennessee'
va_mines['state'] = 'Virginia'
wv_mines['state'] = 'West Virginia'

In [110]:
import csv
csv.register_dialect('piper', delimiter='|', quoting=csv.QUOTE_NONE)

In [1]:
#sources from https://www.msha.gov/data-and-reports/mine-data-retrieval-system

CoalDustSamples = pd.read_csv("/content/CoalDustSamples 2.txt", sep="|")
CoalDustSamples

<ipython-input-1-08b317d49855>:3: DtypeWarning: Columns (0,8,13,17,29) have mixed types. Specify dtype option on import or set low_memory=False.
  CoalDustSamples = pd.read_csv("/content/CoalDustSamples 2.txt", sep="|")

,CASS_NUM,INSP_IND,SMP_TAKEN_DT,INIT_WT,FINAL_WT,CONC,SMP_TYPE_CD,SMP_TYPE_CD_DESC,SMP_USE_CD,SMP_USE_CD_DESC,...,METH_MINE_TYPE_DESC,OCC_CD,OCC_CD_DESC,TONS,SAMPLE_ENTITY_TYPE_CD,SINGLE_SAMPLE_ECV,AVERAGE_5_ECV,AVERAGE_15_ECV,DEVICE_TYPE_CD,SMP_CPDM_FILE_NAME
0,51153504,N,11/16/2011,481.400,481.635,0.337,3,DESIGNATED AREA,1,BIMONTHLY CYCLE/TRANSITION PERIOD SAMPLE ...,...,INVALID MINING METHOD,?,OCCUPATION CODE NOT FOUND,0,Belt-Air,NaN,NaN,NaN,CMDPSU,NaN
1,51097056,N,9/5/2011,472.763,474.498,2.494,1,DESIGNATED OCCUPATION,4,CITATION SAMPLE-SPLIT CYCLE ...,...,INVALID MINING METHOD,036,CONTINUOUS MINER OPERATOR,360,DO,NaN,NaN,NaN,CMDPSU,NaN
2,51106952,N,9/11/2011,472.676,473.052,0.540,4,DESIGNATED WORK POSITION,0,NOT YET USED IN DETERMINATION ...,...,INVALID MINING METHOD,347,FROTH CELL OPERATOR,0,DWP,NaN,NaN,NaN,CMDPSU,NaN
3,51121114,N,9/13/2011,459.000,459.470,0.681,1,DESIGNATED OCCUPATION,1,BIMONTHLY CYCLE/TRANSITION PERIOD SAMPLE ...,...,INVALID MINING METHOD,036,CONTINUOUS MINER OPERATOR,150,DO,NaN,NaN,NaN,CMDPSU,NaN
4,51141728,N,11/16/2011,500.029,500.279,0.359,3,DESIGNATED AREA,1,BIMONTHLY CYCLE/TRANSITION PERIOD SAMPLE ...,...,INVALID MINING METHOD,?,OCCUPATION CODE NOT FOUND,0,DA,NaN,NaN,NaN,CMDPSU,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520593,,N,5/13/2023,0.000,0.000,0.359,2,NON DESIGNATED OCCUPATION,0,NOT YET USED IN DETERMINATION ...,...,INVALID MINING METHOD,014,ROOF BOLTER (TWIN HEAD) (RETURN SIDE),938,ODO,1.7,1.59,1.56,CPDM,20230513-06-37022102907-4608878
2520594,,N,5/12/2023,0.000,0.000,0.334,2,NON DESIGNATED OCCUPATION,0,NOT YET USED IN DETERMINATION ...,...,INVALID MINING METHOD,014,ROOF BOLTER (TWIN HEAD) (RETURN SIDE),438,ODO,1.7,1.59,1.56,CPDM,20230512-14-37018062540-4606618
2520595,,N,5/31/2023,0.000,0.000,0.452,1,DESIGNATED OCCUPATION,0,NOT YET USED IN DETERMINATION ...,...,INVALID MINING METHOD,036,CONTINUOUS MINER OPERATOR,804,DO,1.7,1.59,1.56,CPDM,20230531-21-37023013074-0503672
2520596,,N,5/8/2023,0.000,0.000,0.621,2,NON DESIGNATED OCCUPATION,5,VOID SAMPLE ...,...,INVALID MINING METHOD,050,SHUTTLE CAR OPERATOR (STANDARD SIDE),722,ODO,1.7,1.59,1.56,CPDM,20230508-06-37017072475-4609261
2520597,,N,5/19/2023,0.000,0.000,0.896,2,NON DESIGNATED OCCUPATION,0,NOT YET USED IN DETERMINATION ...,...,INVALID MINING METHOD,014,ROOF BOLTER (TWIN HEAD) (RETURN SIDE),1685,ODO,1.7,1.59,1.56,CPDM,20230519-05-37023013046-1519374

In [4]:
Mines = pd.read_csv("/content/Mines.txt", sep="|", encoding = "ISO-8859-1")
Mines

,MINE_ID,CURRENT_MINE_NAME,COAL_METAL_IND,CURRENT_MINE_TYPE,CURRENT_MINE_STATUS,CURRENT_STATUS_DT,CURRENT_CONTROLLER_ID,CURRENT_CONTROLLER_NAME,CURRENT_OPERATOR_ID,CURRENT_OPERATOR_NAME,...,NO_NONPRODUCING_PITS,NO_TAILING_PONDS,PILLAR_RECOVERY_USED,HIGHWALL_MINER_USED,MULTIPLE_PITS,MINERS_REP_IND,SAFETY_COMMITTEE_IND,MILES_FROM_OFFICE,DIRECTIONS_TO_MINE,NEAREST_TOWN
0,100003,O'Neal Quarry & Mill,M,Surface,Active,01/22/1979,0041044,Lhoist Group,L13586,"Lhoist North America of Alabama, LLC",...,NaN,0.0,N,N,N,N,N,100,Approx 7 miles south of the city of Alabaster ...,Calera
1,100004,Brierfield Quarry,M,Surface,Active,03/04/2003,0041044,Lhoist Group,L13586,"Lhoist North America of Alabama, LLC",...,NaN,0.0,N,N,N,N,N,35,"I-65 SOUTH EXIT US 31 TO CALERA, TURN RIGHT ON...",Brierfield
2,100005,Birmingham Plant,M,Surface,Abandoned,08/15/1989,0041044,Lhoist Group,L10998,Allied Lime Company,...,NaN,NaN,N,N,N,N,N,0,NaN,NaN
3,100006,Auburn Quarry,M,Surface,Active,09/24/1976,M00174,Martin Marietta Materials Inc,L16197,"Martin Marietta Materials, Inc.",...,NaN,0.0,N,N,N,N,N,140,85 to Hwy. 29 South to County Rd. 10; turn lef...,Auburn
4,100008,Landmark Plant,M,Surface,Active,11/14/1975,M31753,Alan B Cheney,L31753,Cheney Lime & Cement Company,...,NaN,0.0,N,N,N,N,N,25,I-65 S to exit 238; right on Hwy 31 1/8 miles ...,Alabaster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90095,6900009,CROSS ISLAND ROAD,M,Surface,New Mine,10/24/2016,0125183,Hang Cheing Tan,0145154,"GPPC, INC",...,NaN,NaN,N,N,N,N,N,0,Coming from Kagman goint to Capitol Hill right...,Capital Hill
90096,6900010,United Construction Corporation,M,Surface,New Mine,11/09/2016,0133643,Xiaojun Ying,0151233,United Construction Corporation,...,NaN,NaN,N,N,N,N,N,0,"From the airport to Dandan, to San Vincente, g...",chalan laulau
90097,6900011,New Hope Quarry,M,NaN,New Mine,08/15/2019,NaN,NaN,NaN,SUCCESS INTERNATIONAL CORPORATION,...,NaN,NaN,N,N,N,N,N,0,NaN,NaN
90098,6900012,Sinapalo Quarry 1 &2,M,NaN,New Mine,09/02/2021,NaN,NaN,NaN,General Pacific Services,...,NaN,NaN,N,N,N,N,N,0,NaN,Sinapalo
90099,6900013,GPPC Tinian Quarry,M,NaN,New Mine,09/07/2021,NaN,NaN,NaN,GPPC Inc.,...,NaN,NaN,N,N,N,N,N,0,NaN,NaN

In [9]:
Mines[Mines['CURRENT_MINE_NAME'].str.contains('Brierfield Quarry', na = False)]

,MINE_ID,CURRENT_MINE_NAME,COAL_METAL_IND,CURRENT_MINE_TYPE,CURRENT_MINE_STATUS,CURRENT_STATUS_DT,CURRENT_CONTROLLER_ID,CURRENT_CONTROLLER_NAME,CURRENT_OPERATOR_ID,CURRENT_OPERATOR_NAME,...,NO_NONPRODUCING_PITS,NO_TAILING_PONDS,PILLAR_RECOVERY_USED,HIGHWALL_MINER_USED,MULTIPLE_PITS,MINERS_REP_IND,SAFETY_COMMITTEE_IND,MILES_FROM_OFFICE,DIRECTIONS_TO_MINE,NEAREST_TOWN
1,100004,Brierfield Quarry,M,Surface,Active,03/04/2003,0041044,Lhoist Group,L13586,"Lhoist North America of Alabama, LLC",...,NaN,0.0,N,N,N,N,N,35,"I-65 SOUTH EXIT US 31 TO CALERA, TURN RIGHT ON...",Brierfield